<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BurbujonRecords{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{  asset('css/style.css') }}" rel="stylesheet" />
            <link href="{{  asset('css/miestilo.css') }}" rel="stylesheet" />
            <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
            <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />-->
        {% endblock %}


    </head>
    <body id="page-top">
            {% block titulo %}{% endblock %}
            {% block menu %}{% endblock %}
    </body>
    {% block javascripts %}

    {% endblock %}
</html>
