{% extends 'base.html.twig' %}

{% block title %}CURSOS DE PIANO{% endblock %}

{% block titulo %}
    <h5>Cursos de Piano</h5>
{% endblock %}

{% block menu %}

    {% include 'menu/menu.html.twig' %}


    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h3 class="masthead-heading" style="color: black; position: relative; top: -50px;">Cursos de Piano</h3>
        </div>
    </header>













































































{% endblock %}