{% extends 'base.html.twig' %}

{% block menu %}
    {% include 'menu/menu.html.twig' %}
{% endblock %}

{% block titulo %}
{% endblock %}

{% block ventamaquetas %}
    {% for evento in eventosM.eventos %}
        <h1 class=" text-uppercase mb-0">{{ evento.nombre }}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Item 1-->
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                <img class="img-fluid" src="assets/img/flauta.jpg" alt="" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">{{ evento.descripcion }}</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">Fecha de lanzamiento:<br>2021-03-23</p></div>
        </div>

    {% endfor %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Venta Maquetas</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <h1 class=" text-uppercase mb-0">Maqueta hip-hop</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <img class="img-fluid" src="assets/img/flauta.jpg" alt="" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 ml-auto"><p class="lead">En el Rap "maqueta" suele hacer más referencia a un álbum de distribución gratuita en internet y puede venir en versión EP o en LP y puede ser promocionado por un Maxi. Mientras que una canción maqueta (una sola canción) puede ser solo una versión sin masterizar o una pre-grabación de una canción. </p></div>
                <div class="col-lg-4 mr-auto"><p class="lead">Fecha de lanzamiento:<br>2021-03-23</p></div>
            </div>
            <!-- Masthead Subheading-->

        </div>
    </header>
    <!-- Portfolio Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Flauta flautera</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="assets/img/flauta.jpg" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5"> Hecho de cuproníquel, C flauta llave con 16 hoyos. Diseño exquisito y elegante para satisfacer su gusto.
                                    Grasa Poco corcho para ofrecer ayuda para ensamblar cosas juntos.
                                    El paño azul está diseñado para entrar en la flauta, mejor para ayudar a limpiar el tubo interior. Con un palo de plástico y paño de limpieza para mantener la flauta seco y limpio. </p>
                                <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Comprar Maqueta
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Maqueta rock</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/flauta.jpg" alt="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">Rock es un término amplio que agrupa una variedad de estilos de música popular originados como rock and roll a principios de la década de 1950 en los Estados Unidos y que evolucionó en un gran rango de diferentes estilos en los años 1960, particularmente en Reino Unido y los Estados Unidos.. </p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Fecha de lanzamiento:<br>2021-04-27</p></div>
                </div>
                <!-- Masthead Subheading-->

            </div>
        </div>
    </section>

    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <h1 class=" text-uppercase mb-0">Maqueta hip-hop</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <img class="img-fluid" src="assets/img/flauta.jpg" alt="" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 ml-auto"><p class="lead">En el Rap "maqueta" suele hacer más referencia a un álbum de distribución gratuita en internet y puede venir en versión EP o en LP y puede ser promocionado por un Maxi. Mientras que una canción maqueta (una sola canción) puede ser solo una versión sin masterizar o una pre-grabación de una canción. </p></div>
                <div class="col-lg-4 mr-auto"><p class="lead">Fecha de lanzamiento:<br>2021-03-23</p></div>
            </div>
            <!-- Masthead Subheading-->

        </div>
    </header>

{% endblock %}


