{% extends 'base.html.twig' %}


{% block titulo %}
    GESTION DE EVENTOS
{% endblock %}

{% block menu %}
    {% include 'menu/menu.html.twig' %}
{% endblock %}



{% block gestioneventos %}
    <!-- Portfolio Item 1-->
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1" style="margin-top: 205px;">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <h3 class="img-fluid">CREAR EVENTO</h3>
        </div>
    </div>

    <form style="margin-top: 35px;" method="post">
        <label for="usuario">Nombre del evento:</label>
        <input type="text" name="nombre"><br><br>
        <label for="evento">Descripcion del evento:</label>
        <input type="text" name="descripcion"><br><br>
        <label for="ubicacion">Ubicacion del evento:</label>
        <input type="text" name="ubicacion"><br><br>
        <label for="fecha">Fecha del evento:</label>
        <input type="date" name="fecha"><br><br>
    </form>
    <p class="mb-5"></p>
    <button class="btn btn-primary" >
        Crear Evento
    </button>



{% endblock %}




