{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block titulo %}
    <h1>contenido</h1>
{% endblock %}

{% block menu %}
    {% include 'menu/menu.html.twig' %}
{% endblock %}