{% extends 'base.html.twig' %}

{% block menu %}
    {% include 'menu/menu.html.twig' %}
{% endblock %}

{% block titulo %}
    <h1>contenido</h1>
{% endblock %}
{% block table %}
   <thead>
    <tr style="">
        <td>ALIAS</td>
        <td>NOMBRE</td>
        <td>DESCRIPCION</td>
        <td>SONIDO</td>
        <td>FECHA CREACION</td>
    </tr>
   </thead>
    <tbody>

            <tr>
                <td class="active"></td>
                <td class="info"></td>
                <td class="success"></td>
                <td class="warning"></td>
                <td class="info"></td>
            </tr>

    </tbody>
{% endblock %}



