{% extends 'base.html.twig' %}


{% block title %}
    Perfil
{% endblock %}

{% block menu %}
    {% include 'menu/menu.html.twig' %}
{% endblock %}

{% block perfil %}
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1" style="margin-top: 205px;">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>


                <label for="DNI">DNI</label>
                <input type="text" name="DNI" value="69696969e"><br><br>

                <label for="Nombre">Nombre</label>
                <input type="text" name="Nombre" value="kartu"><br><br>

                <label for="Apellidos">Apellidos</label>
                <input type="text" name="Apellidos" value="morao"><br><br>

                <label for="Direccion">Direccion</label>
                <input type="text" name="Direccion" value="micasa"><br><br>

                <label for="Telefono">Telefono</label>
                <input type="text" name="Telefono" value="666856965"><br><br>

                <label for="Email">Email</label>
                <input type="text" name="Email" value="asassin@gmail.com"><br><br>

                <label for="Password">Password Actual</label>
                <input type="text" name="Password" value="Almi123"><br><br>

                <label for="Password">Password Nuevo</label>
                <input type="text" name="Password" value="Almi123"><br><br>

                <label for="Sexo">Sexo</label><br>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label>

            </form>
            <button class="btn btn-primary" >
                Crear Perfil
            </button>
        </div>
    </div>
<!--<div style="  width: 50%; border: 3px solid cornflowerblue; padding: 200px; display: flex;">
                                <form style="margin-top: 35px;" method="post">
                                    <label for="usuario">Nombre del evento:</label>
                                    <input type="text" name="nombre"><br><br>
                                    <label for="evento">Descripcion del evento:</label>
                                    <input type="text" name="descripcion"><br><br>
                                    <label for="ubicacion">Ubicacion del evento:</label>
                                    <input type="text" name="ubicacion"><br><br>
                                    <label for="fecha">Fecha del evento:</label>
                                    <input type="date" name="fecha"><br><br>
                                </form>
                                <button class="btn btn-primary" >
                                    Crear Evento
                                </button>
    </div>-->



{% endblock %}
