{% extends 'base.html.twig' %}


{% block titulo %}
    Perfil
{% endblock %}

{% block menu %}
    {% include 'menu/menu.html.twig' %}
{% endblock %}

{% block perfil %}

    <h1>a</h1>

{% endblock %}
