{% extends 'base.html.twig' %}

{% block title %}
    PRODUCCION
{% endblock %}

{% block titulo %}
    
{% endblock %}


{% block menu %}
    {% include 'menu/menu.html.twig' %}
{% endblock %}
{% block produccion %}
<section class="page-section bg-primary text-white mb-0">
<div class="container d-flex align-items-center flex-column" style="position: relative; top: 150px;">
    <h4 style="" >Ariel Rechtshaid:</h4>
    <img src="assets/img/ander.jpg" width="550" height="380">
    <p>Con apenas 34 años, Ariel ha trabajado con una extensa, increíble y variada lista de artistas y bandas. Produjo los últimos discos de Usher, No Doubt, Major Lazer (junto a su amigo Diplo), Snoop Lion y Vampire Weekend. También ha trabajado con Justin Bieber, We Are Scientists, Sky Ferreira, Mikky Ekko y encabezó la producción del álbum debut de la muy de moda banda HAIM.</p>

</div>
<div class="container d-flex align-items-center flex-column" style="position: relative; top: 150px;">
    <h4>Timbaland:</h4>
    <img src="assets/img/timba.jpg" width="400" height="380">
    <p>Para nadie es ajeno lo prolífico en la carrera de Timbaland. Desde principios de los 90 ha estado involucrado en el mundo de la producción, trabajando con la recordada Aaliyah, Usher, NAS, Eminem, Aaliyah y muchísimos más. Ha sido el productor de cabecera en los cuatro discos de Justin Timberlake y en los últimos años ha trabajado con artistas de la talle de M.I.A., Jay Z o Robin Thicke. Para el año que viene estará involucrado en el nuevo álbum de Beyoncé y además, producirá el álbum que marca la vuelta a los escenarios de otra artista que siempre ha producido: Missy Elliott.</p>
</div>
<div class="container d-flex align-items-center flex-column" style="position: relative; top: 150px;">
    <h4>Max Martin:</h4>
    <img src="assets/img/max.jpg" width="400" height="380">
    <p>Max Martin es otro productor que ha sabido mantenerse en la escena durante décadas. La gran mayoría de los éxitos pop de artistas como Backstreet Boys, Britney Spears, ‘Nsync y hasta Celine Dion, han sido escritos y producidos por él. Con el paso del tiempo ha colaborado en discos de Pink, James Blunt, Bon Jovi, Avril Lavigne, Maroon 5 y más. Es el productor principal del nuevo álbum de Katy Perry y entre sus éxitos recientes, está el hit que compuso y produjo para Justin Bieber ft. Nicki Minaj: “Beauty and a Beat”.</p>

</div>
<div class="container d-flex align-items-center flex-column" style="position: relative; top: 150px;">
    <h4>Dr. Luke:</h4>
    <img src="assets/img/Luke.jpg" width="550" height="380">
    <p>Este productor neoyorquino también tiene una lista envidiable de artistas con los que ha trabajado: Britney Spears, Kelly Clarkson, Flo Rida, Pitbull, Weezer, Rihanna, One Direction y más. Este 2013 estuvo involucrado en los más recientes discos de Robin Thicke, Miley Cyrus, Jessie J y co escribió y produjo junto a Max Martin el nuevo single de Katy Perry, “Roar”.</p>
</div>
</section>
{% endblock %}
