{% extends 'base.html.twig' %}

{% block title %}
    PRODUCCION
{% endblock %}

{% block titulo %}
    <h1 style="position: relative; top: 120px;">Produccion</h1>
{% endblock %}


{% block menu %}
    {% include 'menu/menu.html.twig' %}
{% endblock %}
{% block produccion %}
<div style="position: relative; top: 150px;">
    <h4></h4>
    <p></p>
    <img

 </div>
{% endblock %}